#
# local.jam
#
# External library settings
constant MPI_INC : /usr/local/openmpi/include ;
constant MPI_LIB : /usr/local/openmpi/lib64 ;
constant LAPACKLIB : /opt/intel/mkl/10.2.1.017/lib/emt64 -lmkl_intel_lp64 -lmkl_core -lmkl_sequential ;
constant LAPACKINC : -DUSE_MKL /opt/intel/mkl/10.2.1.017/include ;
constant BOOST_INC : [ os.environ BOOST_INCLUDEDIR ] ;
constant BOOST_LIB :  [ os.environ BOOST_LIBRARYDIR ] ;
#
# Set constants for installation paths
project pnp
	: requirements <cflags>"-ftemplate-depth=150 -fPIC -DHAVE_LLRINT=1 -DHAVE_UNIQPTR=1 -DHAVE_LRINT=1" <linkflags>"-fPIC" ;
import path ;
path-constant PREFIX : stage ;
constant BINDIR : [ path.join $(PREFIX) bin ] ; # User programs
constant DATADIR : [ path.join $(PREFIX) share ] ; # Static libraries
constant DOCDIR : [ path.join $(DATADIR) doc ] ;
constant HTMLDIR : [ path.join $(DATADIR) html ] ;
constant INCDIR : [ path.join $(PREFIX) include ] ;
constant LIBDIR : [ path.join $(PREFIX) lib ] ; # Shared libraries
constant MANDIR  : [ path.join $(DATADIR) man ] ;

