#
# local.jam
#
# Set constants for installation paths
import path ;
path-constant INSTALL_PREFIX : installdir ;
constant BINDIR : bin ; # User programs
constant DATADIR : share ; # Private libraries and static data
constant DOCDIR : [ path.join share doc ] ;
constant HTMLDIR : [ path.join share html ] ;
constant INCDIR : include ;
constant LIBDIR : bin ; # Shared libraries
constant MANDIR  : [ path.join share man1 ] ;

