ifndef M_LOCAL_MAK
M_LOCAL_MAK:=1

# User set variables
MPI_INC?=/usr/local/openmpi/include
MPI_LIB?=/usr/local/openmpi/lib64
BOOST_INC?=${BOOST_INCLUDEDIR}
BOOST_LIB?=${BOOST_LIBRARYDIR}

# ------------------------------------------------------------
# Select compiler suite to use:
#
# Value causes include of suite specific makefile M_$(COMP).mk
#
# Supplied options are gcc or intel.
COMP=gcc
# Compiler specific options
# GCCVER=-X.X

# ------------------------------------------------------------
#
# MAKEFILE TO TUNE BUILD SYSTEM TO LOCAL MACHINE
#
# Changes here should be for adjusting build to different
# library and compiler versions

# Set some text to var to get static binary
# static_build:=true

# 
# XXVERSION is used to select library version to use
# 
# XXXROOTDIR is a list of directories to search for the
#   the installation location of the library
# 
# NOTE: in XXX.mak XXXVERSION is set using ?= while
# XXXROOTDIR is set using +=
# 
# GOOD PRACTICE IS SET ONLY WHEN NECESSARY

# ------------------------------------------------------------
# Machine/OS specific LD options
# LDHOST= -headerpad_max_install_names -dead_strip

# Settings for MPI library location. 
# MPI_LIB=
# MPI_INC=$(MPI_LIB)/../include


# ------------------------------------------------------------
# Reset flags to be set in the following makefiles
RANDFLAGS= 
LAPACKINC= 
LAPACKLIB_STATIC= 
LAPACKLIB= 

# ------------------------------------------------------------
# The following must be called after the above definitions.
# ------------------------------------------------------------

# Include boost
-include $(ROOTDIR)$(or $(SLASH),/)M_boost.mk


# ------------------------------------------------------------
# Library versions and (likely) locations
#
# Select maths library specific makefile
#
# Intel Math Kernel Library
# MKLVERSION:=10.2.1.017
# MKLROOTDIR:=
-include $(ROOTDIR)$(or $(SLASH),/)M_mkl.mk

# ATLAS math library
# ATLASVERSION:=
# ATLASROOTDIR:=
# set following if atlas libraries have a name suffix eg '_atlas'
#ATLAS_SUFFIX:=
#-include $(ROOTDIR)$(or $(SLASH),/)M_atlas.mk

# GNU BLAS/LAPACK library 
# GSLVERSION:=
# GSLROOTDIR:=
#-include $(ROOTDIR)$(or $(SLASH),/)M_gsl.mk

# ------------------------------------------------------------
# Select random number library (SFMT or dSFMT)
# Default is C++ standard std::tr1::mersenne_twister
# Uncomment is SFMT/dSFMT is preferred and available.
#
# -include $(ROOTDIR)$(or $(SLASH),/)M_sfmt.mk

endif

# Local Variables:
# mode: Makefile
# end:
